<div class="pageContent">
<div id="selfieDiv" class="col-sm-2">
  <%= image_tag("AaronPhoto.jpg", :id => "selfie") %>
</div>
<div>
<h2>About me</h2>
<p>
  Music and coding are two of my main interests. I started creating music when I was very young -
  first with GarageBand and later with Reason, then Logic Pro, then Pro Tools, and then Ableton Live.
  Today I produce electronic music but I also spend a lot of time on sound design, both for my music
  and just because I enjoy the art of creating sound.
</p>
<p>
  When I entered college at Macalester in 2009, I thought I wanted to pursue chemistry, but I found
  out that music was actually what captivated my interest. I ended up majoring in music and chemistry
  at Macalester, and then decided to study Music Technology at NYU.
</p>
<p>
  I didn't realize when I applied to NYU that there would be a large focus on writing code for audio
  applications, but I soon realized that creating audio software was actually very interesting. In
  particular I found digital signal processing to be a fascinating research area, and ended up
  completing my <%= link_to "thesis", "https://add9sus4.wordpress.com/nyu-masters-thesis/", :target => "_blank" %> on synthetic impulse response generation for convolution reverb. It sounds
  complicated, but essentially it's software that combines the accuracy of convolution reverb
  with the flexibility of a synthetic approach.
</p>
<p>
  Since graduating, I have focused on learning more about creating audio software - specifically for
  Audio Unit and VST so that the software can be integrated in a Digital Audio Workstation like
  Ableton or Logic. Several such plugins are in development right now, but I have also been doing
  additional research to learn more about specific topics such as digital FIR and IIR filter design,
  voice management in a polyphonic digital instrument, and bandlimited oscillators, to name a few.
</p>
</div>
</div>

<style media="screen">
  #selfie {
    width: 114%;
    padding-top: 5px;
    padding-right: 10px;
    margin-left: -15px;
  }
</style>

<script type="text/javascript">
$(".nav").find(".active").removeClass("active");
$(".nav").find("#about").addClass("active");
</script>
