<h2>Welcome to my website!</h2>
<p>My name is Aaron Dawson, and I love to write code and make music.</p>
<p>On this page you can find some of the audio software I have designed,
as well as some other software I've worked on.</p>
<p>Feel free to check out some of the music I've composed, and take a look at
my blog, which covers all kinds of different topics surrounding, music, math, and coding!</p>
<p>Also of note: I created and designed this website using Ruby on Rails! The site
is hosted on Heroku, is backed by a PostgreSQL database, and makes use of
some popular javascript frameworks (including Bootstrap and jQuery).</p>

<script type="text/javascript">
$(".nav").find(".active").removeClass("active");
$(".nav").find("#home").addClass("active");
</script>
