<h1>VST/AU Plugins</h1>
<p>Below is a list of the audio plugins I have developed:</p>
<li>I haven't finished any plugins yet, but some are in the works as we speak!</li>
<script type="text/javascript">
$(".nav").find(".active").removeClass("active");
$(".nav").find("#plugins").addClass("active");
</script>
