<h1>Software Projects</h1>
<p>Below is a list of projects I've completed</p>
<li>List to be updated soon; until then, check the repos on my
<%= link_to "GitHub", "https://github.com/Add9Sus4", :target => "_blank" %> page!</li>
<script type="text/javascript">
$(".nav").find(".active").removeClass("active");
$(".nav").find("#software").addClass("active");
</script>
